In [9]:
# dynamic programmin
a=10
print(a)
print("a=",id(a))

b=10
print(b)
print("b=",id(b))

c=a
print(c)
print("c=",id(c))

10
a= 10751144
10
b= 10751144
10
c= 10751144

In [10]:
a="ntt"
print(a)
print("a=",id(a))

ntt
a= 139714304588720

In [15]:
# deleting a variable
a=20
print(a)
del a
#print(a)

20

In [19]:
# creating multiple vars
a,b,c=10,20.12,"ntt"
print(a,b,c)
print(a)
print(b)
print(c)

a=b=c=100
print(a,b,c)

10 20.12 ntt
10
20.12
ntt
100 100 100