In [1]:
print("welcome to Python world")

welcome to Python world

In [ ]:
#list is sequesting of diffrent chars,datatypes

In [ ]:
# List Indexing

In [6]:
#List Slicing

l1=[10,20.3,3.15,"ntt",[1,2,3]]
print(l1[::])

print(l1[:2:])

print(l1[::-1])

[10, 20.3, 3.15, 'ntt', [1, 2, 3]]
[10, 20.3]
[[1, 2, 3], 'ntt', 3.15, 20.3, 10]

In [13]:
#List operations

#concat

l1=[10,20,30]
l2=[40,50,60]
print(l1+l2)

#multiplication
l3=[1,2,3,4,5]
print(l3*5)

[10, 20, 30, 40, 50, 60]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [18]:
#list iteration

l1=[10,20,30,40,50]
for i in l1:
    print(i)

10
20
30
40
50

In [23]:
#list membership

l1=[10,20,30,40,50]
print(10 in l1)
print(10 not in l1)

True
False

In [27]:
#deletion of list
l1=[10,20,30,40,50]
del l1[0]
#del l1
print(l1)

[20, 30, 40, 50]

In [35]:
#max element

l1=[10,20,20]
l2=["apple","Amma","BallBallBall"]
print(max(l1))
print(max(l2))
print(max(l2,key=len))
print(min(l1))
print(min(l2))
print(min(l2,key=len))

20
apple
BallBallBall
10

In [38]:
# list append take input from user
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)
l3=l1.append(l2)
print(l3)

[1, 2, 3, 4, 5, 6]
None

In [44]:
# list append take input from user
l1=[]
i=0
while(i<5):
  print("Enter a number")
  l1.append(input())
  i=i+1
  print(l1)

Enter a number
1
['1']
Enter a number
3
['1', '3']
Enter a number
4
['1', '3', '4']
Enter a number
5
['1', '3', '4', '5']
Enter a number
6
['1', '3', '4', '5', '6']