<a href="https://colab.research.google.com/github/surajnimse/Basic-Python-from-scratch-for-beginners-NTT-Data/blob/main/python_basics_day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#dictionary
dict1={"pp":"alex","qq":"balan","rr":"catherine","ss":"dinesh"}
print(dict1)
print(type(dict1))

#access the dict
print(dict1["pp"])

{'pp': 'alex', 'qq': 'balan', 'rr': 'catherine', 'ss': 'dinesh'}
<class 'dict'>
alex

In [6]:
#dict
dict2={9881:["shiva",43,"aaa fff street blr"],
       9882:["suraj",44,"bbb ggg street hyd"],
       9883:["dinesh",45,"ccc hhh street chn"],
       }
print(dict2)
print(dict2[9881])

print(dict2[9882])
print(dict2[9883])

dict2={9884:["balan",46,"aaa fff street cho"]       }
print(dict2)

{9881: ['shiva', 43, 'aaa fff street blr'], 9882: ['suraj', 44, 'bbb ggg street hyd'], 9883: ['dinesh', 45, 'ccc hhh street chn']}
['shiva', 43, 'aaa fff street blr']
['suraj', 44, 'bbb ggg street hyd']
['dinesh', 45, 'ccc hhh street chn']
{9884: ['balan', 46, 'aaa fff street cho']}

In [19]:
# dict operations using inbuilt method.
dict3={1001:["shiva",43,"blr"],
       1002:["suraj",44,"hyd"],
       1003:["dinesh",45,"chn"],
       }
print(dict3)
print(dict3.keys())
print(dict3.values())
print(dict3.items())

val=dict3.items()
print(val)
print(type(val))
l=list(val)
print(l)
print(type(l))
dict3.clear()
print(dict3)

dict1={1001:["shiva",43,"blr"],
       1002:["suraj",44,"hyd"],
       1003:["dinesh",45,"chn"],
       }
dict2=dict1.copy()
print(dict2)

{1001: ['shiva', 43, 'blr'], 1002: ['suraj', 44, 'hyd'], 1003: ['dinesh', 45, 'chn']}
dict_keys([1001, 1002, 1003])
dict_values([['shiva', 43, 'blr'], ['suraj', 44, 'hyd'], ['dinesh', 45, 'chn']])
dict_items([(1001, ['shiva', 43, 'blr']), (1002, ['suraj', 44, 'hyd']), (1003, ['dinesh', 45, 'chn'])])
dict_items([(1001, ['shiva', 43, 'blr']), (1002, ['suraj', 44, 'hyd']), (1003, ['dinesh', 45, 'chn'])])
<class 'dict_items'>
[(1001, ['shiva', 43, 'blr']), (1002, ['suraj', 44, 'hyd']), (1003, ['dinesh', 45, 'chn'])]
<class 'list'>
{}
{1001: ['shiva', 43, 'blr'], 1002: ['suraj', 44, 'hyd'], 1003: ['dinesh', 45, 'chn']}

In [28]:

dict1={1001:["shiva",43,"blr"],
       1002:["suraj",44,"hyd"],
       1003:["dinesh",45,"chn"],
       }
dict2=dict1.copy()
print(dict2)
dict1[1003]=["raj",45,"chn"]

print(dict1)
print(dict2)

{1001: ['shiva', 43, 'blr'], 1002: ['suraj', 44, 'hyd'], 1003: ['dinesh', 45, 'chn']}
{1001: ['shiva', 43, 'blr'], 1002: ['suraj', 44, 'hyd'], 1003: ['raj', 45, 'chn']}
{1001: ['shiva', 43, 'blr'], 1002: ['suraj', 44, 'hyd'], 1003: ['dinesh', 45, 'chn']}

In [34]:
# SET
set1={10,20,30,40,50,10}
print(set1)
print(type(set1))

{50, 20, 40, 10, 30}
<class 'set'>

In [36]:
set2="ntt data"
print(set2)
print(type(set2))

ntt data
<class 'str'>

In [41]:
#where sets are used.
l1=[10,20,30,40,50,10,40,60,50]
print(l1)
print(type(l1))
s1=set(l1)
print(s1)
print(type(s1))

l1=list(s1)
print(l1)
print(type(l1))

[10, 20, 30, 40, 50, 10, 40, 60, 50]
<class 'list'>
{40, 10, 50, 20, 60, 30}
<class 'set'>
[40, 10, 50, 20, 60, 30]
<class 'list'>

In [43]:
# write a code for remove,update,discard.
s1={10,20,30,40,50,10,40,60,50}
print(s1)
s1.remove(10)
print(s1)

{50, 20, 40, 10, 60, 30}
{50, 20, 40, 60, 30}
{50, 20, 40, 10, 60, 30}
{200, 10, 20, 30, 100, 40, 300, 50, 60}

In [44]:
#update
s1={10,20,30,40,50,10,40,60,50}
print(s1)
s1.update([100,200,300])
print(s1)

{50, 20, 40, 10, 60, 30}
{200, 10, 20, 30, 100, 40, 300, 50, 60}

In [45]:
#discard
s1={10,20,30,40,50,10,40,60,50}
print(s1)
s1.discard(10)
print(s1)

{50, 20, 40, 10, 60, 30}
{50, 20, 40, 60, 30}

In [46]:
# pop method
s1={10,20,30,40,50,10,40,60,50}
print(s1)
s1.pop()
print(s1)

{50, 20, 40, 10, 60, 30}
{20, 40, 10, 60, 30}