In [ ]:
print("welcome to Python world")

In [ ]:
#list is sequesting of diffrent chars,datatypes

In [ ]:
# List Indexing

In [ ]:
#List Slicing

l1=[10,20.3,3.15,"ntt",[1,2,3]]
print(l1[::])

print(l1[:2:])

print(l1[::-1])

In [ ]:
#List operations

#concat

l1=[10,20,30]
l2=[40,50,60]
print(l1+l2)

#multiplication
l3=[1,2,3,4,5]
print(l3*5)

In [ ]:
#list iteration

l1=[10,20,30,40,50]
for i in l1:
    print(i)

In [ ]:
#list membership

l1=[10,20,30,40,50]
print(10 in l1)
print(10 not in l1)

In [ ]:
#deletion of list
l1=[10,20,30,40,50]
del l1[0]
#del l1
print(l1)

In [ ]:
#max element

l1=[10,20,20]
l2=["apple","Amma","BallBallBall"]
print(max(l1))
print(max(l2))
print(max(l2,key=len))
print(min(l1))
print(min(l2))
print(min(l2,key=len))

In [ ]:
# list append take input from user
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)
l3=l1.append(l2)
print(l3)

In [ ]:
# list append take input from user
l1=[]
i=0
while(i<5):
  print("Enter a number")
  l1.append(input())
  i=i+1
  print(l1)

In [53]:
l1=[]
i=5
for i in range(1,6):
  l1.append(i)
i=i+1
print(l1)

[1, 2, 3, 4, 5]

In [ ]:
# prompt: write a code which appends 1 to 10 in list.

my_list = []
for i in range(1, 11):
  my_list.append(i)

my_list

In [ ]:
#Append multiple

In [54]:
#Append extend

l1=[1,2,3]
l2=[4,5,6]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6]

In [56]:
# insert
l1=[1,2,3]
l1.insert(3,4)
print(l1)

[1, 2, 3, 4]

In [60]:
# remove method
l1=[1,2,3,4,5,4]
l1.remove(4) # removes first occurence of element
print(l1)

[1, 2, 3, 5, 4]

In [63]:
#pop
l1=[1,2,3,4,5,4]
l1.pop(1)
print(l1)

[1, 3, 4, 5, 4]