<a href="https://colab.research.google.com/github/surajnimse/Basic-Python-from-scratch-for-beginners-NTT-Data/blob/main/python_basics_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# nested for loop
for i in "BLR":
  print("Outer Loop")
  for j in [10,20,30]:
    print("Inner Loop")
    print(i,j)

In [ ]:
#palindrom string using slicing concept
str = input("Enter a string: ")
if str == str[::-1]:
  print("Palindrome")
else:
  print("Not Palindrome")

In [ ]:
#reverse string using slicing concept
str = input("Enter a string: ")
print(str[::-1])

In [ ]:
# break operator
for i in range(1,6):
  if i == 5:
    break
  print(i)

In [ ]:
s1="apple"
s2="banana"
print(s1+s2)
print(s1*2)
#Lower #Lower
print(s1.upper())
print(s1.lower())
#del s1
print(s1)

In [34]:
# length of string
str = input("Enter a string: ")
print(len(str))

Enter a string: suraj
5

In [35]:
# length of string manually
str = input("Enter a string: ")
count = 0
for i in str:
  count += 1
print(count)

Enter a string: rj
2

In [36]:
#count method
s1="Hi my name is suraj nimse"
print(s1.count("suraj"))

1

In [37]:
#count method
s1=input("Enter a string: ")
print(s1.count("suraj",3,7))

Enter a string: suraj
0

In [38]:
#count method
s1="Hi my name is khan and khan "
print(s1.count("khan",15))

1

In [40]:
#startswith
mainstring= input("Enter a string: ")
substring= input("Enter a substring: ")
print(mainstring.startswith("Hi"))

Enter a string: Hi Suraj
Enter a substring: nimse
True

In [43]:
#startswith
mainstring= input("Enter a string: ")
substring= input("Enter a substring: ")
if mainstring.startswith(substring):
  print("Substring found")
else:
  print("Substring not found")

Enter a string: bangalore
Enter a substring: blr
Substring not found

In [52]:
 str=input("Enter a number: ")
if str.startswith("92"):
  print("Pak")
elif str.startswith("91"):
  print("India")
elif str.startswith("1"):
  print("USA")
elif str.startswith("3"):
  print("uk")
else:
  print("Number is invalid")

Enter a number: 92
Pak

In [54]:
 #endswith

 str=input("Enter a string: ")
if str.endswith(".com"):
  print("Commercial site")
elif str.endswith(".edu"):
  print("educational site")
elif str.endswith(".us"):
  print("USA site")
elif str.endswith(".uk"):
  print("uk site")
else:
  print(" invalid")

Enter a string: abc.us
USA site

In [57]:
#stripping or Trimming

str=input("Enter a string: ")
print(str.strip())

Enter a string:  suraj
suraj

In [59]:
#stripping or Trimming

#str=input("Enter a string: ")
str=" _suraj_ "
print(str.strip())
print(str.rstrip())
print(str.lstrip())

_suraj_
 _suraj_
_suraj_

In [66]:
str="_suraj_"
print(str.strip("_"))
print(str.rstrip(" _"))
print(str.lstrip("_ "))

suraj
_suraj
suraj_

In [70]:
#stripping or Trimming

#str=input("Enter a string: ")
str= ["www.abc.com","www.bbb.com","www.ccc.com"]
for i in str:
  print(i.strip("www."))

abc.com
bbb.com
ccc.com

In [73]:
'''/*
The strip() method removes characters individually from the beginning and end of the string, not as a whole sequence. In the case of "[redacted link], the characters 'h', 't', 'p', '.', 'c', 'o', 'm' are removed from both ends, but the removal happens one character at a time.

It first removes 'h', 't', 't', 'p' from the beginning.
Then it removes '.com' from the end.
Since the 'o' in "ajio" is also present in 'htp.com', the strip() method continues to remove characters and thus removes 'o' from the end as well.
Therefore, the final output for "[redacted link] becomes "://[redacted link].

*/
'''

url = ["http://www.myntro.com","http://www.ajio.com","http://www.google.com"]
for i in url:
  i =i.strip('htp.com')
  print(i)

://www.myntr
://www.aji
://www.google

In [74]:
s1="apple"
s2="apple"
if s1==s2:
  print("same")
else:
  print("Different")

same

In [77]:
s1="apple"
s2="apple"
if s1 > s2:
  print("same")
else:
  print("Different")

Different

In [80]:

print(ord("A"))
print(ord("Z"))
print(ord("a"))
print(ord("z"))

65
90
97
122