In [ ]:
# nested for loop
for i in "BLR":
  print("Outer Loop")
  for j in [10,20,30]:
    print("Inner Loop")
    print(i,j)

In [ ]:
#palindrom string using slicing concept
str = input("Enter a string: ")
if str == str[::-1]:
  print("Palindrome")
else:
  print("Not Palindrome")

In [ ]:
#reverse string using slicing concept
str = input("Enter a string: ")
print(str[::-1])

In [ ]:
# break operator
for i in range(1,6):
  if i == 5:
    break
  print(i)

In [ ]:
s1="apple"
s2="banana"
print(s1+s2)
print(s1*2)
#Lower #Lower
print(s1.upper())
print(s1.lower())
#del s1
print(s1)

In [34]:
# length of string
str = input("Enter a string: ")
print(len(str))

Enter a string: suraj
5

In [35]:
# length of string manually
str = input("Enter a string: ")
count = 0
for i in str:
  count += 1
print(count)

Enter a string: rj
2

In [36]:
#count method
s1="Hi my name is suraj nimse"
print(s1.count("suraj"))

1

In [37]:
#count method
s1=input("Enter a string: ")
print(s1.count("suraj",3,7))

Enter a string: suraj
0

In [38]:
#count method
s1="Hi my name is khan and khan "
print(s1.count("khan",15))

1

In [40]:
#startswith
mainstring= input("Enter a string: ")
substring= input("Enter a substring: ")
print(mainstring.startswith("Hi"))

Enter a string: Hi Suraj
Enter a substring: nimse
True

In [43]:
#startswith
mainstring= input("Enter a string: ")
substring= input("Enter a substring: ")
if mainstring.startswith(substring):
  print("Substring found")
else:
  print("Substring not found")

Enter a string: bangalore
Enter a substring: blr
Substring not found

In [52]:
 str=input("Enter a number: ")
if str.startswith("92"):
  print("Pak")
elif str.startswith("91"):
  print("India")
elif str.startswith("1"):
  print("USA")
elif str.startswith("3"):
  print("uk")
else:
  print("Number is invalid")

Enter a number: 92
Pak

In [54]:
 #endswith

 str=input("Enter a string: ")
if str.endswith(".com"):
  print("Commercial site")
elif str.endswith(".edu"):
  print("educational site")
elif str.endswith(".us"):
  print("USA site")
elif str.endswith(".uk"):
  print("uk site")
else:
  print(" invalid")

Enter a string: abc.us
USA site